//Fonts
@font-face { font-family: 'MazzardM_Regular';
    src: url('../fonts/MazzardM-Regular.ttf'); }
@font-face { font-family: 'MazzardM_Medium';
    src: url('../fonts/MazzardM-Medium.ttf'); } 
@font-face { font-family: 'MazzardM_Light';
    src: url('../fonts/MazzardM-Light.ttf'); }
@font-face { font-family: 'MazzardM_Bold';
    src: url('../fonts/MazzardM-Bold.ttf'); }            

.mazzreg(){font-family: 'MazzardM_Regular', sans-serif;}
.mazzmed(){font-family: 'MazzardM_Medium', sans-serif;}
.mazzlight(){font-family: 'MazzardM_Light', sans-serif;}
.mazzbold(){font-family: 'MazzardM_Bold', sans-serif;}
.opensans(){font-family: 'Open Sans', sans-serif;}


//Colors
@light: #fff;
@osnova: #381ED4;
@text: #242625;
@dop: #F2994A;
@text_gray:#959595;
@block_gray:#D9DFFC;
@text_gray_two:#757575;


//Basic

html{
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
}
button, 
button:active, 
button:focus {
    outline: none;
}
input,
input:active,
input:focus{
	outline: none;
}
textarea,
textarea:active,
textarea:focus{
	outline: none;
}
a,
a:active,
a:focus{
	outline: none;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}

.stop{
    overflow-y: hidden;
}
.button{
    border: none;
    cursor: pointer;
    background-color: @dop;
    color: @light;
    .mazzbold();
    border-radius: 1.2rem;
    transition: 0.3s;
    &:hover{
        background-color: @osnova;
    }
}
.section{
    &-title{
        text-align: center;
        .mazzbold();
        font-size: 2.8rem;
        color: @text;
    }
    &-paragraph{
        padding-top: 4rem;
        text-align: center;
        .mazzreg();
        color: @text;
        font-size: 1.8rem;
        margin-bottom: 20rem;
    }
}
.none{
    display: none;
}
//header
.header{
	position: fixed;
	width: 100%;
	top:0;
	left:0;
	z-index: 50;
	background: @light;
}
.header:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: 2;
	background-color: #000;
}
.header__body{
	position: relative;
	display: flex;
	height: 80px;
	align-items: center;
	justify-content: space-between;
}
.header__list{
	display: flex;
	position: relative;
	z-index: 2;
	align-items: center;
}
.header__list li{
	list-style: none;
	margin: 10px 0px 0px 20px;

}
.header__link{
	color: @text;
	font-size: 1.4rem;
	text-decoration: none;
	.mazzreg();
	align-items: center;
    transition: 0.3s;
	&:hover{
		text-decoration: underline;
		color: @text;
	}
}
.header__logo img{
	max-width: 100%;
	display: block;
	position: relative;
	z-index: 3;
}
.header__logo{
	flex: 0 0 60px;
	border-right: 50%;
	overflow: hidden;
}
.header__button{
    font-size: 1.6rem;
    padding: 1.2rem 4rem;
    color: @light;
    border:none;
    border-radius: 1rem;
    margin-left: 2rem;
    transition: 0.3s;
}
.header__block{
    display: none;
}
.header-link{
    display: flex;
    align-items: center;
    &-mobile{
        display: none;
    }
    &:hover{
        text-decoration: underline;
        color: @text;
    }
    &-span{
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        .mazzreg();
        color: @text;
    }
    &-img{
        margin-right: 2rem;
        width: 3rem;
        &-two{
            width: 3rem;
        }
    }
}

//HOME
.home{
    &-first_window{
        padding-top: 16rem;
        background: url(../img/home/first_window/bg.png) no-repeat center ;
        background-size: cover;
        padding-bottom: 15rem;
        &-span{
            .mazzmed();
            color: @text_gray;
            font-size: 1.6rem;
            padding-top: 15rem;
        }
        &-title{
            .mazzbold();
            color: @text;
            font-size: 4rem;
            padding-top: 2.6rem;
            margin-bottom: 5rem;
        }
        &-paragraph{
            .mazzmed();
            font-size: 1.8rem;
            color: @text_gray_two;
            padding: 0;
            margin-bottom: 5rem;
        }
        &-button{
            font-size: 1.8rem;
            padding: 1.6rem 5.6rem;
        }
    }
    &-services{
        padding: 11rem 0rem;
        background-color: #FEFEFE;
        &-link{
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }
        &-block{
            text-align: center;
            padding: 2rem 5rem;
            border-radius: 1rem;
            background-color: #D9DFFC;
            min-height: 17.3rem;
            transition: 0.3s;
            &:hover{
                text-align: center;
                background-color: @osnova;
                .home-services-name{
                    color: @light;
                }
                .home-services-img{
                    display: none;
                }
                .home-services-img_white{
                    display: flex;
                }
            }
        }
        &-img{
            margin-bottom: 2rem;
            &_white{
                padding-left: 35%;
                text-align: center;
                margin-bottom: 2rem;
                display: none;
            }
        }
        &-name{
            .mazzreg();
            font-size: 1.6rem;
            color: @osnova;
            line-height: 1.891rem;
        }
        &-title{
            margin-bottom: 7rem; 
        }
    }
    &-comfort{
        padding: 13rem 0rem;
        background: url(../img/home/comfort/bg.png) no-repeat center;
        background-size: cover;
        &-title{
            .mazzbold();
            font-size: 3.6rem;
            padding-top: 5rem;
            color: @light;
            margin-bottom: 5rem;
        }
        &-paragraph{
            .mazzmed();
            font-size: 2.4rem;
            line-height: 2.8rem;
            margin-bottom: 2.8rem;
            color: @light;
        }
        &-img{
            text-align: center;
            width: 100%;
        }
    }
}
//washer
.washer{
    &-first_window{
        padding-top: 16rem;
        background: url(../img/washer/first-window/bg.png) no-repeat center ;
        background-size: cover;
        padding-bottom: 15rem;
    }
}
//Pluses
.pluses{
    padding: 3rem 0rem;
    &-block{
        display: flex;
        align-items: center;
        padding: 1.5rem;
        border-radius: 1rem;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
    }
    &-img{
        margin-right: 2.5rem;
    }
    &-name{
        .mazzreg();
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: @osnova;
        padding: 0;
        margin: 0;
    }
}

//Plans
.plans{
    padding: 6rem 0rem;
    background: url(../img/plans/bg.png) no-repeat center;
    background-size: cover;
    &-title{
        .mazzbold();
        font-size: 2.8rem;
        margin-bottom: 4rem;
        color:@text;
    }
    &-paragraph{
        .mazzreg();
        font-size: 1.8rem;
        margin-bottom: 3.5rem;
        color: @text;
    }
    &-block{
        display: flex;
        align-items: center;
        padding: 1.9rem 4rem;
        border-radius: 1rem;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
        margin-bottom: 2rem;
        &-form{
            text-align: center;
            padding-top: 3rem;
            &-title{
                .mazzbold();
                font-size: 2rem;
                color: @dop;
                margin-bottom: 4rem;
            }
            &-name{
                .mazzreg();
                font-size: 1.4rem;
                color: @dop;
                padding: 0;
                margin-bottom: 0.6rem;
                text-align: left;
            }
            &-input{
                width: 100%;
                padding: 1.4rem 1.3rem;
                border-radius: 0.5rem;
                background-color: #FEFEFE;
                color: @text;
                font-size: 1.4rem;
                margin-bottom: 2rem;
                border: none;
                border: 1px solid #FEFEFE;
                transition: 0.3s;
                &:hover{
                    border: 1px solid @dop;
                }
                &:focus{
                    border: 1px solid @dop;
                }
            }
            &-span{
                margin: 0;
            }
            &-button{
                padding: 1.6rem 6rem;
                font-size: 1.8rem;
                margin-bottom: 1.3rem;
            }
        }
    }
    &-img{
        margin-right: 4rem;
    }
    &-name{
        .mazzmed();
        font-size: 1.8rem;
        color: @text;
        margin-bottom: 1rem;
    }
    &-sename{
        .mazzlight();
        font-size: 1.2rem;
        line-height: 1.4rem;
        color: @text;
        padding: 0;
        margin: 0;
    }
    &-form{
        padding: 4rem 3rem;
        border-radius: 1rem;
        background: url(../img/plans/form-bg.png) no-repeat center;
        background-size: cover;
    }
}
option{
    &:focus{
        border: 1px solid @dop;
    }
}
//rewiews
.rewiews{
    padding: 10rem 0rem 6rem 0rem;
    background-color: #fefefe;
    &-title{
        padding: 0;
        margin-bottom: 4rem;
    }
    &-block{
        padding: 5rem 3rem;
        border-radius:1rem;
        background: #ffffff;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
        filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.05));
    }
    &-name{
        .opensans();
        font-weight: 600;
        color: @text;
        margin-bottom: 4rem;
    }
    &-paragraph{
        .opensans();
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.9rem;
        color: @text;
        padding: 0;
        margin: 0;
    }
    &-sename{
        text-align: center;
        .mazzlight();
        font-size: 1rem;
        color: @text;
        padding-top: 1.5rem;
        margin-bottom: 0;
    }
}
.swiper{
    &-wrapper{
        padding: 2rem 0rem;
    }
    &-pagination{
        display: none;
    }
}
//Contacts
.contacts{
    background-color: #FEFEFE;
    padding: 7rem 0rem;
    &-block{
        padding-top: 9rem;
        &-two{
            padding-left: 3rem;
        }
    }
    &-link{
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        text-decoration: none;
        transition: 0.3s;
        color: @text;
        &:hover{
            text-decoration: underline;
            color: @text;
        }
    }
    &-img{
        margin-right: 2.5rem;
        width: 5rem;
    }
    &-name{
        .mazzlight();
        font-size: 1.8rem;
        color: @text;
        margin: 0;
    }
    &-bg{
        text-align: center;
        width: 100%;
        padding-top: 2rem;
    }
}
//Footer
.footer{
    &-st{
        background-color: @osnova;
    }
    &-first{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem 0rem;
    }
    &-linked{
        display: flex;
        align-items: center;
        &-first{
            display: none;
        }
    }
    &-link{
        display: flex;
        align-items: center;
        margin-right: 1.7rem;
        color:@light;
        transition: 0.3s;
        &:hover{
            text-decoration: underline;
        }
        &-two{
            margin-right: 3rem;
        }
    }
    &-img{
        width: 3rem;
    }
    &-paragraph{
        margin: 0;
        padding-left: 1.4rem;
        color: @light;
        .mazzreg();
        font-size: 1.4rem;
        &:hover{
            text-decoration: underline;
        }
    }
    &-logo{
        width: 6rem;
    }
    &-twice{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-paragraph{
            margin: 0;
            padding: 0;
            color: #DEDEDE;
            .opensans();
            font-weight: 400;
            font-size: 1.4rem;
            text-decoration: none;
            &-two{
                color: #DEDEDE;
                &:hover{
                    text-decoration: underline;
                    color: #DEDEDE;
                }
            }
        }
    }
    &-es{
        background-color: #351EC0;
        padding: 0.8rem 0rem;
    }
}
//Problems
.problems{
    padding: 10rem 0rem;
    &-block{
        padding: 2rem 3rem;
        border-radius: 1rem;
        background-color: @block_gray;
        margin-bottom: 2.5rem;
        &-two{
            padding-top: 20%;
            padding-left: 5%;
        }

    }
    &-bloking{
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
    }
    &-img{
        width: 4rem;
        margin-right: 2rem;
        &-two{
            margin-bottom: 3rem;
        }
    }
    &-name{
        .mazzbold();
        color: @osnova;
        font-size: 2rem;
    }
    &-paragraph{
        .mazzreg();
        color: @osnova;
        font-size: 1.6rem;
        line-height: 169.7%;
        &-two{
            line-height: 142.2%;
        }
    }
    &-button{
        margin-top: 3rem;
        width: 100%;
        padding: 1.8rem 7rem;
        background-color: @osnova;
        cursor: pointer;
        color: @light;
        .mazzbold();
        font-size: 1.4rem;
        &:hover{
            background-color: @dop;
        }
    }
    &-sename{
        .mazzreg();
        color: @text;
        font-size: 1.7rem;
        line-height: 2rem;
        margin: 0;
    }
}
//Popup
.none{
    display: none;
}
.popup, .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(0, 0, 0, 0.8);
  }
  .popup-title{
    color:@dop;
    .mazzbold();
    font-size: 2.4rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-bottom: 4rem;
  }
  .modal-title{
    color:@dop;
    .mazzbold();
    font-size: 2.4rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-bottom: 4rem;
  }
  .modal-content{
    position: fixed;
    left: 50%;
    top: 15%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 5rem 3rem;
    background: url(../img/popup/bg.png) no-repeat center;
    background-size: cover;
    width: 30%;
    border-radius: 1rem;
  }
  .popup-content {
    position: fixed;
    left: 50%;
    top: 15%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 5rem 3rem;
    background: url(../img/popup/bg.png) no-repeat center;
    background-size: cover;
    width: 30%;
    border-radius: 1rem;
   
  }
  .modal-form{
    position: relative;
  }
  .popup-form {
    position: relative;

  }

  .popup-close {
    top: 1rem;
    position: absolute;
    right: 1rem;
    width: 4rem;
    border: none;
    background-color: transparent;
    font-size: 3rem;
    font-weight: 400;
    color: @dop;
    cursor:pointer;
    &:hover{
        color: #000;
    }
  }
  .modal-close{
    top: 1rem;
    position: absolute;
    right: 1rem;
    width: 4rem;
    border: none;
    background-color: transparent;
    font-size: 3rem;
    font-weight: 400;
    color: @dop;
    cursor:pointer;
    &:hover{
        color: #000;
    }
  }
  .modal-header-text{
      font-size: 1.3rem;
  }
  .popup-header-text {
    font-size: 1.3rem;
  }
  .modal-name{
    font-size: 1.4rem;
    color: @light;
    .mazzreg();
    color: @dop;
  }
  .popup-name{
      font-size: 1.4rem;
      color: @light;
      .mazzreg();
      color: @dop;
  }
  .popup-block{
      text-align: center;
  }
  .modal-block{
    text-align: center;
  }
  .popup-img{
      width: 3%;
  }
  .modal-paragraph{
    .opensans();
    font-weight: 400;
    font-size: 1.2rem;
    color:#959595;
    margin: 0;
    padding: 0;
  }
  .popup-paragraph{
      .opensans();
      font-weight: 400;
      font-size: 1.2rem;
      color:#959595;
      margin: 0;
      padding: 0;
  }
  .modal-button{
    margin-bottom: 2rem;
    margin-top: 4rem;
    padding: 1.5rem 6rem;
    border: none;
    .opensans();
    font-weight: 600;
    color: @light;
    font-size: 1.6rem;
    background-color: @dop;
    &:hover{
        background-color: @osnova;
    }
  }
  .popup-button{
      margin-bottom: 2rem;
      margin-top: 4rem;
      padding: 1.5rem 6rem;
      border: none;
      .opensans();
      font-weight: 600;
      color: @light;
      font-size: 1.6rem;
      background-color: @dop;
      &:hover{
          background-color: @osnova;
      }
  }
  .form{
      &-input{
          width: 100%;
          border:none;
          background:#FEFEFE;
          margin-bottom: 2rem;
          padding: 1rem;
          font-size: 1.5rem;
          .mazzreg();
          color: #000;
      }
  }
//Media
@media(max-width: 1200px){
    //Header

    .header__block{
        display: block;
        padding-top: 8rem;
    }
    .header-link{
        display: flex;
        align-items: start;
        .opensans();
        font-weight: 400;
        font-size: 2rem;
        color: #DADADA;
        &-img{
            margin-right: 2rem;
            &-two{
                display: none;
            }
        }
        &:hover{
            color: #DADADA;
            text-decoration: underline;
        }
    }
    .header__logo{
		flex: 0 0 45px;
	}
	.header__body{
		height: 50px;
	}
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
        z-index: 3;
        border-radius: 0.5rem;

	}
	.header__burger:before,
	.header__burger:after{
        border-radius: 0.5rem;
		content: '';
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
        top: 0px;
        border-radius: 0.5rem;
	}
	.header__burger:after{
        bottom: 0px;
        border-radius: 0.5rem;
	}
	.header__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span{
		transform: scale(0);
	}
	.header__burger span{
        border-radius: 0.5rem;
		position: absolute;
		background-color: #000;
		left: 0;
        width: 70%;
        margin-left: 30%;
		height: 3px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__menu{
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #fff;
		padding: 70px 10px 0px 30px;
		transition: all 0.3s ease 0s;
		text-align: left;
		opacity: 0.95;
	}
	.header__menu.active{
		top:50px;
	}
	.header__list{
		display: block;
	}
	.header__list li{
		margin: 0px 0px 0.7rem 0px;
	}
	body.lock{
		overflow: hidden;
	}
	.header__link{
		font-size: 2rem;
		opacity: 1;
    }
    .header__button{
        display: none;
    }
    .washer{
        &-first_window{
            padding-top: 12rem;
            padding-bottom: 18rem;
        }
    }

    .home{
        &-first_window{
            padding-top: 12rem;
            padding-bottom: 8rem;
            &-span{
                padding-top: 7rem;
                font-size: 1.4rem;
            }
            &-title{
                padding-top: 2rem;
                font-size: 2.8rem;
                margin-bottom: 3rem;
            }
            &-paragraph{
                font-size: 1.2rem;
                margin-bottom: 3rem;
            }
            &-button{
                font-size: 1.1rem;
                padding: 0.8rem 3rem;
                border-radius: 0.8rem;
            }
        }
        &-services{
            &-img{
                &_white{
                    padding-left: 30%;
                }
            }
        }
    }
    .pluses{
        &-name{
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
    }
    .contacts{
        &-img{
            width: 3rem;
            margin-right: 1rem;
        }
        &-name{
            font-size: 1.4rem;
        }
        &-link{
            margin-bottom: 1.5rem;
        }
        &-bg{
            width: 80%;
        }
    }
    .popup{
        &-content{
            top: 10%;
            width: 60%;
            padding: 3rem 3rem;
        }
        &-title{
            padding-bottom: 2rem;
        }
        &-block{
            margin-bottom: 1rem;
        }
        &-close{
            top: 0;
            right: 0;
        }
    }
    .modal{
        &-content{
            top: 10%;
            width: 60%;
            padding: 3rem 3rem;
        }
        &-title{
            padding-bottom: 2rem;
        }
        &-block{
            margin-bottom: 1rem;
        }
        &-close{
            top: 0;
            right: 0;
        } 
    }
    .form{
        &-input{
            margin-bottom: 1rem;
            padding: 0.5rem;
        }
    }
    .problems{
        &-paragraph{
            font-size: 1.2rem;
        }
        &-button{
            padding: 1.8rem 3rem;
        }
        &-name{
            font-size: 1.8rem;
        }
    }
}
@media(max-width: 800px){
    .home{
        &-first_window{
            &-button{
                font-size: 1.8rem;
            }
        }
        &-services{
            padding: 5rem 0rem;
            &-title{
                margin-bottom: 3.6rem;
            }
            &-block{
                padding: 1.5rem 3rem;
                min-height: 12.9rem;
            }
            &-name{
                font-size: 1.4rem;
                line-height: 1.5rem;
                margin-bottom: 0;
            }
            &-img{
                margin-bottom: 1rem;
                &_white{
                    margin-bottom: 1rem;
                    padding-left: 25%; 
                }
            }
        }
        &-comfort{
            padding: 6rem 0rem;
            &-title{
                padding-top: 3rem;
                font-size: 2.4rem;
                margin-bottom: 4rem;
            }
            &-paragraph{
                font-size: 1.3rem;
                line-height: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }
    }
    .pluses{
        &-img{
            width: 3.5rem;
            margin-right: 1rem;
        }
        &-name{
            font-size: 1.2rem;
            line-height: 1.3rem;
        }
        &-block{
            padding: 0.5rem;
            min-height: 6rem;
        }
    }
    .plans{
        padding: 3.5rem 3rem;
        &-title{
            font-size: 2.2rem;
            margin-bottom: 2rem;
        }
        &-paragraph{
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
        &-block{
            padding: 1rem 2rem;
            margin-bottom: 1rem;
            &-form{
                padding-top: 1.8rem;
                &-title{
                    font-size: 1.5rem;
                    margin-bottom: 1.3rem;
                }
                &-name{
                    font-size: 1.4rem;
                    margin-bottom: 0.3rem;
                }
                &-input{
                    padding: 0.5rem 0.4rem;
                    border-radius: 0.5rem;
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                }
                &-button{
                    padding: 0.9rem 3rem;
                    font-size: 1.3rem;
                    border-radius: 0.5rem;
                    margin-bottom: 0.7rem;
                }
                &-span{
                    font-size: 0.9rem;
                    line-height: 1.1rem;
                }
            }
        }
        &-img{
            margin-right: 2rem;
            width: 4.5rem;
        }
        &-name{
            font-size: 1.5rem;
            margin-bottom: 0.6rem;
        }
        &-sename{
            font-size: 1.2rem;
            line-height: 1.3rem;
        }
        &-form{
            padding: 2.5rem 1.7rem;
        }
    }
    .rewiews{
        &-block{
            margin-bottom: 2rem;
        }
        &-sename{
            font-size: 1.3rem;
        }
    }
    .swiper{
        &-pagination{
            display: block;
        }
        &-button{
            &-prev{
                display: none;
            }
            &-next{
                display: none;
            }
        }
    }
    .contacts{
        padding: 4rem 0rem;
        &-name{
            font-size: 1rem;
        }
        &-bg{
            padding-top: 4rem;
        }
    }
          //Popup
          .popup{
            &-content{
                width: 60%;
            }
        }
        .modal{
            &-content{
                width: 60%;
            }
        }
        .problems{
            &-block{
                padding: 1rem 1.2rem;
                &-two{
                    padding-top: 5%;
                }
            }
            &-img{
                width: 3rem;
                margin-right: 1rem;
                &-two{
                    width: 3rem;
                    margin-bottom: 1rem;
                }
            }
            &-name{
                font-size: 1.4rem;
            }
            &-bloking{
                margin-bottom: 1.4rem;
            }
            &-paragraph{
                font-size: 1rem;
            }
            &-button{
                margin-top: 1rem;
                padding: 1rem 0rem;
                font-size: 1rem;
            }
            &-sename{
                font-size: 1.4rem;
                line-height: 1.6rem;
            }
        }
}
@media(max-width: 450px){
    .section{
        &-title{
            font-size: 2.2rem;
        }
        &-paragraph{
            font-size: 1.1rem;
            margin-bottom: 4rem;
        }
    }
    .washer{
        &-first_window{
            background: url(../img/washer/first-window/bg_mobile.png) no-repeat left bottom;
            background-size: cover;
            padding-bottom: 13rem;
        }
    }
    .home{
        &-first_window{
            padding-bottom: 13rem;
            background: url(../img/home/first_window/bg_mobile.png) no-repeat right bottom;
            background-size: cover;
            &-span{
                font-size: 1.8rem;
                padding-top: 4rem;
            }
            &-title{
                padding-top: 3.4rem;
                font-size: 2.5rem;
                margin-bottom: 2.5rem;
            }
            &-paragraph{
                margin-bottom: 4rem;
                font-size: 1.5rem;
            }
            &-button{
                font-size: 1.8rem;
                padding: 0.9rem 4rem;
                border-radius: 0.5rem;
            }
        }
        &-services{
            padding: 4rem 0rem;
            &-block{
                margin-bottom: 1rem;
                min-height: 0rem;
                padding: 1rem 2rem;
            }
            &-img{
                &_white{
                    padding-left: 43%;
                }
            }
            &-name{
                font-size: 1.8rem;
            }
        }
        &-comfort{
            padding: 0rem 0rem;
            &-img{
                padding: 2rem 0rem;
            }
            &-paragraph{
                font-size: 1.5rem;
                line-height: 1.7rem;
            }
        }
    }
    .pluses{
        &-block{
            margin-bottom: 2rem;
        }
    }
    .rewiews{
        padding: 3rem 2rem;
        &-title{
            margin-bottom: 3rem;
        }
        &-block{
            padding: 3rem 1rem;
        }
        &-name{
            margin-bottom: 2rem;
        }
    }
    .contacts{
        padding: 2rem 0rem;
        &-block{
            padding-top: 3rem;
            &-two{
                padding-left: 0;
                padding-top: 2rem;
            }
        }
        &-bg{
            padding-left: 10%;
            padding-top: 1rem;
        }
        &-name{
            font-size: 1.4rem;
        }
    }
    .footer{
        &-linked{
            display: none;
            &-first{
                display: block;
            }
            &-twice{
                display: flex;
                align-items: center;
                padding-left: 20%;
            }
        }
        &-link{
            margin-bottom: 1rem;
            &-two{
                margin-right: 0;
            }
        }
        &-logo{
            width: 10rem;
        }
    }
    //Popup
    .popup{
        &-content{
            width: 90%;
            padding: 1rem 2.5rem
        }
        &-title{
            
            margin-bottom: 3rem;
        }
        &-name{
            font-size: 1.4rem;
        }
        &-paragraph{
            font-size: 1.1rem;
        }
        &-button{
            padding: 1.2rem 6rem;
            font-size: 1.4rem;
        }
    }
    .modal{
        &-content{
            width: 90%;
            padding: 1rem 2.5rem
        }
        &-title{
            
            margin-bottom: 3rem;
        }
        &-name{
            font-size: 1.4rem;
        }
        &-paragraph{
            font-size: 1.1rem;
        }
        &-button{
            padding: 1.2rem 6rem;
            font-size: 1.4rem;
        }
    }
    .form{
        &-input{
            width: 100%;
            padding: 1rem;
        }
    }
    .problems{
        padding: 4rem 0rem;
        &-block{
            padding: 1rem 0.5rem;
        }
        &-paragraph{
            font-size: 1rem;
            min-height: 15rem;
            &-two{
                line-height: 169.7%;
            }
        }
        &-name{
            font-size: 1.2rem;
        }
        &-img{
            &-two{
                text-align: center;
            }
        }
    }

}
@media(max-width: 400px){
    .home{
        &-first_window{
            &-span{
                font-size: 1.4rem;
                padding-top: 2rem;
            }
            &-title{
                padding-top: 2.2rem;
                font-size: 2.2rem;
                margin-bottom: 1.5rem;
            }
            &-paragraph{
                font-size: 1.2rem;
                margin-bottom: 3rem;
            }
        }
        &-services{
            &-block{
                min-height: 10.2rem;
            }
        }

    }
    .pluses{
        &-img{
            width: 3rem;
        }
        &-name{

        }
    }
    .plans{
        &-title{
            font-size: 2rem;
        }
        &-paragraph{
            font-size: 1.3rem;
        }
        &-name{
            font-size: 1.6rem;
        }
        &-sename{
            font-size: 1.4rem;
            line-height: 1.5rem;
        }
        &-block{
            padding: 1rem 0.5rem;
            &-form{
                &-title{
                    font-size: 1.7rem;
                    margin-bottom: 3rem;
                }
                &-name{
                    font-size: 1.5rem;
                }
                &-input{
                    padding: 0.8rem 0.7rem;
                    font-size: 1.4rem;
                    margin-bottom: 2rem;
                }
                &-button{
                    font-size: 1.5rem;
                }
            }
        }
        &-img{
            margin-right: 1rem;
        }
    }

}
